body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Noto Sans', 'Calibri', sans-serif;
    color: black;
    text-align: center;
    background-color: #f9f9f9; /* Background color for the entire page */
}

body, #main, #intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > header {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    width: 100%;
}

body > header h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: white;
}

.name-header {
    font-size: 2.5em;
    margin-bottom: 0.3em;
}

.option-boxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.option-box {
    width: 120px;
    height: 50px;
    border: 1px solid black;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.option-box a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.blog-container {
    padding-top: 40px; /* Add space between the header and blog posts */
}

.blog-post {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white; /* Background color for individual blog post box */
    border-radius: 5px; /* Add rounded corners to the box */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin-bottom: 30px; /* Add spacing between blog posts */
}

/* Media queries and other styles... */
