body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', 'Calibri', sans-serif;
    color: black;
    text-align: center; /* Center all text */
}

body {
    display: flex;
    flex-flow: row;
}

body > header {
    text-align: center;
}

body > header h1 {
    width: 1.5em;
    font-size: 10em;
    margin: 0 auto;
}

body > header p {
    color: gray;
}

#main {
    flex: auto;
    min-height: 100vh;
    max-width: 820px;
    overflow: hidden;

    display: flex;
    flex-flow: column;
}

#main > nav, #main > main, #main > footer {
    padding: 15px;
}

#main > nav {
    text-align: center;
}

#main > main {
    flex: 1;
    margin-right: 25px;
}

#main > footer {
    padding-top: 50px;
}

@media (max-width: 640px) {
    body {
        flex-direction: column;
    }

    body > header h1 {
        width: auto;
        font-size: 7em;
    }

    #main {
        display: block;
        min-height: 0;
    }

    #main > main {
        margin-right: 0;
    }
}

hr {
    border: none;
    border-top: 1px solid gray;
    max-width: 25px;
    margin: 35px auto;
}

.muted {
    color: gray;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: #dfdfdf;
    }

    article img:not([src$=".jpg"]):not([src$=".jpeg"]):not(.opaque) {
        background-color: white;
        border: 5px solid white;
        box-sizing: border-box;
    }
}

#intro {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro h1 {
    font-size: 10em;
    margin: 0;
    margin-bottom: 0.2em;
}

.option-boxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.option-box {
    width: 150px;
    height: 100px;
    border: 1px solid black;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.option-box a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.article-list article > header {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 0;
}

.article-list article h3 {
    display: inline-block;
    margin: 0.5em;
}

.article-list article small {
    font-weight: normal;
    color: gray;
}

.alt-links {
    float: right;
    color: gray;
    margin: 30px 0;
}
