body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Noto Sans', 'Calibri', sans-serif;
    color: black;
    text-align: center;
}

body, #main, #intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header styles */
body > header {
    text-align: center;
}

body > header h1 {
    width: 1.5em;
    font-size: 10em;
    margin: 0 auto;
}

body > header p {
    color: gray;
}

/* Main content styles */
#main {
    flex: auto;
    min-height: 100vh;
    max-width: 820px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    padding: 15px; /* Add spacing */
}

#main > nav, #main > main, #main > footer {
    padding: 15px;
}

#main > nav {
    text-align: center;
}

#main > main {
    flex: 1;
    margin-right: 25px;
    margin-bottom: 20px; /* Add spacing */
}

#main > footer {
    padding-top: 50px;
}

/* Media query for mobile devices */
@media (max-width: 640px) {
    body > header h1 {
        width: auto;
        font-size: 7em;
    }

    #main {
        min-height: 0;
    }

    #main > main {
        margin-right: 0;
    }

    .article-list article h3 {
        font-size: 1.5em;
        margin: 0.2em;
    }

    .article-list article small {
        font-size: 0.8em;
    }

    .alt-links {
        margin: 15px 0;
        text-align: center;
    }

    #top-header {
        padding: 5px;
    }

    .dropdown {
        top: 10px;
        left: 10px;
    }

    .dropbtn {
        padding: 8px 15px;
        font-size: 14px;
    }
}

hr {
    border: none;
    border-top: 1px solid gray;
    max-width: 25px;
    margin: 35px auto;
}

.muted {
    color: gray;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: #dfdfdf;
    }

    article img:not([src$=".jpg"]):not([src$=".jpeg"]):not(.opaque) {
        background-color: white;
        border: 5px solid white;
        box-sizing: border-box;
    }
}


.name-header {
    font-size: 5em; 
    margin-bottom: 0.3em; 
}

#intro {
    width: 100%;
    padding: 50px 30px; 
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro-text {
    padding: 30px 20px; 
}

#intro h1 {
    font-size: 10em;
    margin: 10;
    margin-bottom: 0.2em;
}

.option-boxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.option-box {
    width: 100px; 
    height: 60px; 
    border: 1px solid black;
    margin: 0 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.option-box a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.article-list article > header {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 0;
}

.article-list article h3 {
    display: inline-block;
    margin: 0.5em;
}

.article-list article small {
    font-weight: normal;
    color: gray;
}

.alt-links {
    float: right;
    color: gray;
    margin: 30px 0;
}

#top-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: grey;
    display: flex;
    align-items: center;
    z-index: 100;
}
.dropdown {
    position: absolute;
    top: 20px;
    left: 20px;
}

.dropbtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: grey;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
